/*--Universal--*/
html{
	overflow: auto;
}
body{
	padding: 0px;
	margin: 0px;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
.container{
	margin:30px;
}
/*--Tab--*/
.nav-size{
  font-size: 20px;
}
/*Heading*/
#heading {
  padding-top:20px;
  text-align: center;
}
#heading img,
#heading h1{
  display:inline-block;
  vertical-align:middle;
}
#heading img{height: 115px;}
#heading h1{
  text-align: left;
  font-weight: bold;
  font-size: 45px; 
  margin-left: 0.2em;
}
#heading small{
  color: inherit;
  margin-left: 0.1em;
}




/* INFO */
#howTo p{font-size: 15px;}
#excelImg{
  height:25vh;
  width:55vh;
}
#gcHowTo{
  height:25vh; 
  width:auto;
}
#howTo .modal-body{
    height: 600px;
    overflow-y: auto;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-open{
  overflow: inherit;
  padding-right: 0 !important;
}


/* Calendar options */
#switchSem{padding-top: 5px;}
#gLoginBtn{float:right;}
#gLogin .modal-body{
    height: 400px;
    overflow-y: auto;
}


/*--- Submit File ---*/
#submitTimetable{
  margin-top:10px;
  margin-bottom:10px;
  font-size: 18px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



/*--Map--*/
#gMap{
	height: 90vh;
	width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#gmap .tab-pane .fade{
  height:0px;
  width:0px;
  margin:0px;
}

#searchMap{
	background-color: #fff;
	font-family: Arial;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}
#searchMap:focus {
  border-color: #4d90fe;
}
.searchMap-container{
  font-family: Arial;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Arial;
  font-size: 13px;
  font-weight: 300;
}

/*-- Marker gmaps infoWindow style --*/
#infoContent{
  margin:3px;
  padding:1px;
}


/*--Calendar--*/
#calendarr{
  height: auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: hidden;
}
.popover {
    width: 250px;
}
 
