/*--For every page--*/
html{
	overflow: auto;
}
body{
	padding: 0px;
	margin: 0px;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
body h1{
  margin: 35px;
  font-weight: bold ;
  font-size: 55px; 
}

/*--container--*/
.container{
	margin:30px;
}


/*--- Submit File ---*/
#submitTimetable{
  margin-top:10px;
  margin-bottom:10px;
  font-size: 23px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*--Tab--*/
.nav-size{
  font-size: 20px;
}


/*--Map--*/
#gMap{
	height: 90vh;
	width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#gmap .tab-pane .fade{
  height:0px;
  width:0px;
  margin:0px;
}

#searchMap{
	background-color: #fff;
	font-family: Arial;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}
#searchMap:focus {
  border-color: #4d90fe;
}
.searchMap-container{
  font-family: Arial;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Arial;
  font-size: 13px;
  font-weight: 300;
}


/*--Calendar--*/
#calendarr{
  height:90vh;
  width: 100%;
  margin: 0 auto;
}
